dotenv_if_exists .env

if [ -z "${JAVA_TOOL_OPTIONS-}" ]; then
  case "$(uname -s)" in
    Darwin)
      sqlite_library_path="$(brew --prefix sqlite)/lib"
      ;;
    *)
      sqlite_library_path="/usr/local/lib"
      ;;
  esac

  export JAVA_TOOL_OPTIONS="-Djava.library.path=$PWD:$sqlite_library_path"
fi
