{:vars #duct/include "config/vars.edn"
 :system
 {:linear.adapter.sqlite.evaluator/evaluator
  {:name #ig/var sqlite-vfs-name}

  :linear.adapter.slatedb.store/store
  {:object-store-url   #ig/var slatedb-object-store-url
   :max-open-databases #ig/var slatedb-max-open-databases}

  :linear.adapter.postgres/module {}

  :duct.module/logging {}

  :duct.module/sql
  {:migrations #duct/include "migrations.edn"}

  :linear.adapter.crypto/key-service
  {:provider :gcp-kms :key-id #ig/var gcp-kms-key-name}

  :duct.auth.jwks/provider
  {:domain #ig/var oidc-issuer
   :url #ig/var oidc-jwks-url}

  :linear.server.jetty/allow-encoded-path-separators {}

  :duct.server.http/jetty
  {:configurator #ig/ref :linear.server.jetty/allow-encoded-path-separators}

  :duct.module/web #duct/include "config/web.edn"}}
