{:vars
 {jdbc-url                 {:env "JDBC_DATABASE_URL"
                            :default "jdbc:postgresql://localhost:5432/linear?user=postgres&password=postgres"}
  slatedb-object-store-url {:env "SLATEDB_OBJECT_STORE_URL"
                            :default "memory:///"}
  slatedb-max-open-databases {:env "SLATEDB_MAX_OPEN_DATABASES"
                              :type :int
                              :default 128}
  sqlite-library           {:env "SQLITE_LIBRARY"}
  sqlite-vfs-name          {:env "SQLITE_VFS_NAME"
                            :default "linear-sqlite"}}
 :system
 {:duct.module/logging {}

  :duct.module/sql
  {:migrations #duct/include "migrations.edn"}

  :duct.module/web
  {:features #{:api}
   :handler-opts
   {:logger #ig/ref :duct/logger}
   :routes
   [["/health/ready" {:get :linear.handler.health/ready}]]}}}
